button, a {
    font-family: Arial;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    text-decoration: none;
}

button:hover, a:hover {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    text-decoration: none;
}

button:focus, a:focus {
    outline: 0;
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
}

video {
    border: 5px solid #eaa;
    margin: 20px;
}

canvas {
    margin: 20px;
    border: 5px solid #aee;
}

.video-area > img {
    margin: 20px;
    border: 5px solid yellow;
}

#buttons {
    padding-left: 20px;
}

#buttons > button {
    margin-right: 10px;
}

.svg {
    opacity: 0;
    margin-left: 20px;
}

#gif-controls {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#gif-controls > * {
    margin-right: 20px;
}
#gif-controls .btn {
    margin-right: 10px;
}
